.selector-for-some-widget {
    box-sizing: content-box;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: -90px;
}

.logo1 {
    width: 15%;
}

.slide {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
}

.carousel-control-prev-icon {
    margin-left: 100px;
    z-index: 999;
}

.carousel-control-next-icon {
    margin-right: 100px;
    z-index: 999;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    width: 50%;
}